/**********************
DEFAULT
***********************/

body {
	padding-top: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #637988;
	line-height: 20px;
}

ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, label, button, .btn, p {
	margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
}

h1, .h1 {
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
}

h2.section-title,
.h2.section-title {
	font-size: 70px;
	font-weight: 600;
	text-transform: uppercase;
	color: #2c4755;
}

h2.section-title:after,
.h2.section-title:after {
	display: block;
	content: '';
	width: 100%;
	height: 13px;
	background: url('../img/separator.svg') center center no-repeat;
	margin-top: 34px;
}

.title-content {
	text-align: center;
}

.title-content p {
	margin-top: 34px;
}

h3, .h3 {
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
}

h4, .h4 {
	font-size: 20px;
	font-weight: 400;
	text-transform: none;
}

section {
	position: relative;
	background-color: #ffffff;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 70, 81, 0.9);
}

/**********************
BUTTONS
***********************/

.btn-default {
	padding: 9px 0;
	width: 150px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	border-radius: 20px;
	box-sizing: border-box;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;	
}

.btn-default.white-yellow {
	color: #FF7600;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

.btn-default.white-yellow:hover,
.btn-default.white-yellow.active.focus, 
.btn-default.white-yellow.active:focus, 
.btn-default.white-yellow.active:hover, 
.btn-default.white-yellow:active.focus, 
.btn-default.white-yellow:active:focus, 
.btn-default.white-yellow:active:hover {
	color: #ffffff;
	background: #FF7600;
	border: 1px solid #ffffff;
	box-shadow: none;
	outline: none;
}

.btn-default.yellow-white {
	color: #ffffff;
	background-color: #FF7600;
	border: 1px solid #FF7600;
}

.btn-default.yellow-white:hover,
.btn-default.yellow-white.active.focus, 
.btn-default.yellow-white.active:focus, 
.btn-default.yellow-white.active:hover, 
.btn-default.yellow-white:active.focus, 
.btn-default.yellow-white:active:focus, 
.btn-default.yellow-white:active:hover {
	color: #FF7600;
	background: #ffffff;
	border: 1px solid #FF7600;
	box-shadow: none;
	outline: none;
}

.btn-default.white-blue {
	color: #334752;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

.btn-default.white-blue:hover,
.btn-default.white-blue.active.focus, 
.btn-default.white-blue.active:focus, 
.btn-default.white-blue.active:hover, 
.btn-default.white-blue:active.focus, 
.btn-default.white-blue:active:focus, 
.btn-default.white-blue:active:hover {
	color: #ffffff;
	background: #334752;
	border: 1px solid #ffffff;
	box-shadow: none;
	outline: none;
}

/**********************
SOCIAL ICONS
***********************/

.social-list {
	margin-top: 45px;
}

.social-list li {
	display: inline-block;
	margin-right: 17px;
}

.social-list li:last-of-type {
	margin-right: 0;
}

.social-list a {
	position: relative;
	display: block;
	width: 35px;
	height: 35px;
	color: #324651;
	background: #fafafa;
	border: 1px solid #ffffff;
	border-radius: 100%;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease-out;
}

.social-list a:hover {
	color: #ffffff;
	background: #FF7600;
}

.si {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 35px;
}

/**********************
NAVIGATION
***********************/

#main-navigation.navbar {
	min-height: 100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 0;
}

#main-navigation.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

#main-navigation.navbar .navbar-collapse {
    text-align: center;
}

#main-navigation.navbar-fixed-top .navbar-collapse {
	max-height: 380px;
}

#main-navigation.navbar-default {
	background-color: #ffffff;
}

#main-navigation .navbar-brand, 
#main-navigation.navbar-default .navbar-nav>li>a.navbar-brand {
	height: 100px;
	padding: 29px 45px 23px;
}

#main-navigation .navbar-brand img {
	max-height: 48px;
}

#brand-mobile {
	display: none;
}

#main-navigation .navbar-brand-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#brand-desktop {
	display: block;
}

.navbar-default .navbar-nav>li>a {
	font-size: 15px;
	color: #334752;
	padding: 40px 45px;
}

#main-navigation.navbar-default .navbar-nav>li>a:focus, 
#main-navigation.navbar-default .navbar-nav>li>a:hover {
	color: #FF7600;
	background-color: transparent;
}

#main-navigation.navbar-default .navbar-nav>.active>a, 
#main-navigation.navbar-default .navbar-nav>.active>a:focus, 
#main-navigation.navbar-default .navbar-nav>.active>a:hover {
	color: #FF7600;
	background-color: transparent;
}

#main-navigation.navbar-default .navbar-toggle {
	margin-top: 34px;
	margin-bottom: 34px;
	border: 0;
	border-radius: 0;
}

#main-navigation.navbar-default .navbar-toggle:focus, 
#main-navigation.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

#main-navigation.navbar-default .navbar-toggle .icon-bar {
	background: #FF7600;
	width: 22px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#main-navigation .navbar-toggle.collapsed .icon-bar {
	background: #334752;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

/**********************
HOME SECTION
***********************/

#home {
	height: 950px;
}

.carousel {
	width: 100%;
	height: 100%;
}

.carousel .item {
	height: 950px;
	background: url("../img/slider_bg.jpg") center center no-repeat;
	background-size: cover;
}

.carousel-caption {
	padding: 0;
	bottom: 50%;
	transform: translateY(50%);
}

.carousel-caption .btn-default {
	margin-top: 31px;
}

.carousel-caption .h1 {
	margin-top: 27px;
}

.carousel-caption p {
	margin-top: 36px;
}

.carousel-indicators li {
	margin: 1px 8px;
	border-color: #ffffff;
	background-color: #ffffff;
}

.carousel-indicators .active {
	margin: 0 8px;
	border-radius: 8px;
	border-color: #FF7600;
	background-color: #FF7600;
}

.carousel-control {
	opacity: 0;
}

.carousel-control span {
	color: #FF7600;
}

/**********************
SERVICES SECTION
***********************/

#services {
	padding: 91px 0 0;
}

.services-container {
	position: relative;
	margin-top: 89px;
	padding: 0 0 56px;
}

.services-container .line {
	position: absolute;
	top: 56px;
	width: 80%;
	left: 10%;
	border-top: 2px solid #FF7600;
}

.services-container .service {
	max-width: 270px;
	margin: 0 auto;
	text-align: center;
}

.services-container .service h4 {
	margin-top: 53px;
	text-transform: uppercase;
	font-weight: 600;
}

.services-container .service p {
	margin-top: 28px;
}

.we-make-section {
	background: url(../img/services_background.png) center center no-repeat;
	background-size: cover;
	position: relative;
	padding: 78px 0 0;
}

.we-make-section .img-container {
	margin-bottom: -48px;
}

.we-make-section h3 {
	color: #FF7600;;
	margin-top: 15px;
}

.we-make-section p {
	margin-top: 37px;
	color: #ffffff;
}

.we-make-section .features-list {
	margin: 44px 0 0 28px;
	color: #ffffff;
	text-transform: uppercase;
}

.we-make-section .features-list li {
	position: relative;
	line-height: 30px;
	margin-left: 60px;
	margin-bottom: 10px;
}

.we-make-section .features-list li:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	left: -60px;
	background: url('../img/svg/circle_plus.svg') center center no-repeat;
}

.services-cta-container {
	padding: 35px 0;
	text-align: center;
	background: #FFB270;
}

/**********************
PORTFOLIO SECTION
***********************/

#portfolio {
	padding: 92px 0 0;
}

#portfolio-navigation {
	margin-top: 91px;
	text-align: center;
	margin-bottom: 0;
}

#portfolio-navigation .navbar-nav {
	display: inline-block;
	float: none;
}

#portfolio-navigation .navbar-nav>li>.filter {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 5px;
	color: #637988;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 20px;
	box-sizing: border-box;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;
}

#portfolio-navigation .navbar-nav>li>.filter:hover,
#portfolio-navigation .navbar-nav>li>.filter:focus {
	color: #FF7600;
}

#portfolio-navigation .navbar-nav>li>.filter.mixitup-control-active, 
#portfolio-navigation .navbar-nav>li>.filter.mixitup-control-active:hover,
#portfolio-navigation .navbar-nav>li>.filter.mixitup-control-active:focus {
	color: #ffffff;
	background: #FF7600;
	border: 1px solid #FF7600;
	box-shadow: none;
}

.portfolio-grid {
	margin-top: 25px;
	font-size: 0.1px;
	text-align: justify;
}

.portfolio-grid:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.portfolio-grid .grid-item, .portfolio-grid .gap {
	position: relative;
	display: inline-block;
	margin-top: 29px;
	width: calc(100%/3 - (((3 - 1) * 29px) / 3));
}

.portfolio-grid .grid-item img {
	width: 100%;
}

#portfolio .btn {
	display: block;
	margin: 52px auto 0;
}

.video-section {
	margin-top: 94px;
	padding: 94px 0;
	background: #FFB270;
	color: #ffffff;
}

.video-section h4 {
	text-transform: uppercase;
	font-weight: 600;
	color: #334752;
}

.video-section p {
	margin-top: 21px;
}

.video-section i {
	font-weight: 300;
	color: #334752;
}

.video-section .video-description {
	margin-top: 31px;
}

.video-section .video-description p:not(:first-of-type) {
	margin-top: 10px;
}

#portfolio .video-section .btn {
	display: inline-block;
	margin: 22px 0 0;
}

.business-section {
	padding: 96px 0 0;
	background: #324651;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
}

.business-section p {
	margin-top: 17px;
}

.business-section i {
	font-weight: 300;
}

#portfolio .business-section .btn {
	display: inline-block;
	margin: 36px 0 0;	
}

.business-section .img-container {
	margin-top: 51px;
	margin-bottom: -47px;
}

/**********************
ABOUT US SECTION
***********************/

#about {
	padding: 86px 0 0;
}

.about-team {
	margin-top: 55px;
}

.about-team .team-member:focus {
	outline: none;
}

.about-team .team-member .img-container img {
	display: inline-block;
}

.about-team .team-member .description {
	max-width: 100%;
}

.about-team .team-member h4, 
.about-team .team-member .h4 {
	margin-top: 64px;
	font-size: 25px;
	font-weight: 600;
	color: #FF7600;
}

.about-team .team-member .position {
	margin-top: 18px;
	font-weight: 600;
	color: #334752;
	text-transform: uppercase;
}

.about-team .team-member .biography {
	margin-top: 38px;
}

.about-team .team-member .biography p:not(:first-of-type) {
	margin-top: 15px;
}

/**********************
SLIDER OPTIONS
***********************/

.team-member.slick-slide {
	opacity: 0.2;
	transition: opacity 1s ease-out;
}
 
.team-member.slick-slide.slick-center {
	opacity: 1;
	transition: opacity 1s ease-out;
}

/**********************
SKILLS & COMPANY SUBSECTION
***********************/

.skills-company-subsection {
	padding: 90px 0;
	background: #324651;
	color: #ffffff;
}

.skills-company-subsection h4 {
	color: #FF7600;
	font-weight: 600;
	text-transform: uppercase;
}

.skills-subsection {
	margin-top: 20px;
}

.skills-subsection p {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 300;
}

.skills-subsection .progress {
	margin-top: 15px;
	height: 15px;
	border-radius: 10px;
	background-color: #ffffff;
}

.skills-subsection .progress-bar {
	line-height: 15px;
	border-radius: 10px;
	background-color: #FF7600;
}

.company-subsection .description {
	margin-top: 65px;
}

.company-subsection .description p:not(:first-of-type) {
	margin-top: 15px;
}

/**********************
BLOG SECTION
***********************/

#blog {
	padding: 93px 0 0;
	background: #fafafa;
}

.first-row-entry {
	margin-top: 93px;
}

.second-row-entry {
	margin-top: 32px;
}

.blog-entry {
	background: #ffffff;
	border-bottom: 2px solid #c2cfd7;
}

.blog-entry-inner {
	padding: 24px 21px 17px;
	overflow: hidden;
}

.blog-entry img {
	width: 100%;
}

.blog-entry a {
	text-decoration: none;
	color: #FF7600;
}

.blog-entry a:hover,
.blog-entry a:focus,
.blog-entry a:active {
	color: #637988;
}

.blog-entry .author-date {
	margin-top: 11px;
	font-size: 11px;
}

.blog-entry .entry-content {
	margin-top: 25px;
}

.blog-entry .read-more {
	display: block;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 600;
}

#articles .btn {
	display: block;
	margin: 55px auto 0;
}

#blog .newsletter {
	margin-top: 95px;
	padding: 53px 0;
	background: #FF7600;
	color: #ffffff;
}

#blog .newsletter h3,
#blog .newsletter .h3 {
	font-size: 30px;
	text-align: center;
}

#blog .newsletter-form {
	margin-top: 38px;
	text-align: center;
}

#blog .newsletter-form #Email {
	display: block;
	width: 100%;
	padding: 9px 22px;
	border: 1px solid #ffffff;
	border-radius: 20px;
	color: #637988;
	font-weight: 300;
	outline: none;
	transition: border 0.3s ease-out;
}

#blog .newsletter-form #Email:focus,
#blog .newsletter-form #Email:active {
	outline: none;
	border: 1px solid #637988;
}

#blog .newsletter-form #Email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
#blog .newsletter-form #Email::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
#blog .newsletter-form #Email:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
#blog .newsletter-form #Email:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

#blog .newsletter-form .btn {
	display: block;
	width: 100%;
    max-width: 170px;
    font-size: 13px;
    padding: 10px 0;
}

/**********************
CONTACT US SECTION
***********************/

#contact {
	padding: 89px 0 93px;
	background: #324651;
	color: #ffffff;
}

#contact .section-title {
	color: #ffffff;
}

#contact .contact-form {
	margin-top: 92px;
}

#contact .contact-form input, 
#contact .contact-form textarea {
	display: block;
	width: 100%;
	font-weight: 300;
	padding: 18px 26px;
	color: #ffffff;
	background: transparent;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

#contact .contact-form input:focus,
#contact .contact-form input:active,
#contact .contact-form textarea:focus,
#contact .contact-form textarea:active {
	outline: none;
}

#contact .contact-form textarea {
	resize: none;
}

#contact .contact-form input::-webkit-input-placeholder,
#contact .contact-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
#contact .contact-form input::-moz-placeholder,
#contact .contact-form textarea::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
#contact .contact-form input:-ms-input-placeholder,
#contact .contact-form textarea:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
#contact .contact-form input:-moz-placeholder,
#contact .contact-form textarea:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

#contact .contact-form .row:last-of-type {
	margin-top: 30px;
}

#contact .contact-form .btn {
	display: block;
	margin: 53px auto 0;
	font-size: 13px;
	width: 170px;
	padding: 10px 0;
}

/**********************
FOOTER SECTION
***********************/

#footer {
	padding: 83px 0 90px;
	background: #182227;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

#footer .tel {
	margin-top: 26px;
}

#footer .social-list {
	margin-top: 38px;
}

#footer .social-list li {
	margin-right: 21px;
}

#footer .copyright {
	margin-top: 29px;
	font-size: 15px;
}

/**********************
HELPER CLASSES
***********************/

.text-yellow {
	color: #FF7600;
}

.img-container {
	text-align: center;
}

.img-container img {
	max-width: 100%;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbing { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/**********************
RESPONSIVE
***********************/

@media only screen and (min-width: 1440px) {

	/**********************
	HOME SECTION
	***********************/
	.carousel-caption {
		left: 25%;
		right: 25%;
	}

}

@media only screen and (max-width: 1199px) {
	
	/**********************
	NAVIGATION
	***********************/
	#main-navigation .container {
		width: 100%;
	}
	#main-navigation.navbar-default .navbar-nav>li>a {
		padding: 40px 23px;
	}
	#main-navigation .navbar-brand, #main-navigation.navbar-default .navbar-nav>li>a.navbar-brand {
		padding: 29px 23px 23px;
	}

	/**********************
	PORTFOLIO SECTION
	***********************/
	.portfolio-grid .grid-item, .portfolio-grid .gap {
		width: calc(100%/2 - (((2 - 1) * 29px) / 2));
	}

}

@media only screen and (max-width: 991px) {

	/**********************
	SERVICES SECTION
	***********************/

	.services-container .service {
		margin-top: 45px;
	}

	.services-container .line {
		display: none;
	}

	.features-container {
		max-width: 650px;
		margin: 0 auto;
		padding: 0 15px;
		text-align: center;
	}

	.we-make-section .img-container {
		margin-bottom: 0;
		margin: 60px auto;
	}

	.we-make-section .features-list {
		display: inline-block;
		margin: 44px auto 0;
		text-align: left;
	}

	/**********************
	PORTFOLIO SECTION
	***********************/
	.video-section h4 {
		margin-top: 45px;
	}

	#portfolio .video-section .btn {
		display: block;
		margin: 30px auto 0;
	}

	/**********************
	ABOUT US SECTION
	***********************/
	.about-team .team-member .description {
		text-align: center;
		margin-bottom: 45px;
	}

	.about-team .team-member h4, 
	.about-team .team-member .h4 {
		margin-top: 35px;
	}

	.about-team .team-member .description .biography {
		text-align: left;
	}

	/**********************
	SKILLS & COMPANY SUBSECTION
	***********************/
	.company-subsection h4 {
		margin-top: 90px;
	}

	.company-subsection .description {
		margin-top: 30px;
	}
	
	/**********************
	CONTACT US SECTION
	***********************/
	#contact .contact-form .row div:not(:first-of-type) {
		margin-top: 30px;
	}

	/**********************
	HELPER CLASSES
	***********************/

	/* Reverse the order of columns on xs*/
    .row.reorder-sm {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        direction: rtl; /* Fix the horizontal alignment */
    }

    .row.reorder-sm > [class*="col-"] {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        direction: ltr; /* Fix the horizontal alignment */
    }

}

@media only screen and (max-width: 767px) {

	/**********************
	DEFAULT
	***********************/

	h2.section-title {
		font-size: 50px;
	}
	
	/**********************
	NAVIGATION
	***********************/

	#main-navigation.navbar .navbar-nav {
	    display: block;
	}

	#brand-mobile {
		display: block;
	}

	#main-navigation .navbar-brand-center {
		padding: 29px 45px 23px;
	}

	#brand-desktop {
		display: none;
	}

	#main-navigation.navbar-default .navbar-nav>li>a {
		padding: 20px 0;
	}

	/**********************
	HOME SECTION
	***********************/
	.carousel-caption .h1 {
		font-size: 55px;
	}

	/**********************
	PORTFOLIO SECTION
	***********************/

	.portfolio-grid .grid-item, .portfolio-grid .gap {
		width: calc(100% - (30px * 2));
		margin-left: 30px;
		margin-right: 30px;
	}

	.business-section .img-container {
		margin: 50px 0 30px;
	}

	/**********************
	ABOUT US SECTION
	***********************/
	.team-member.slick-slide {
		opacity: 1;
	}
	
	/**********************
	BLOG SECTION
	***********************/
	.first-row-entry, .second-row-entry {
		margin-top: 45px;
	}

	#blog .newsletter-form #Email {
		max-width: 370px;
		margin: 0 auto;
	}

	#blog .newsletter-form .btn {
		max-width: 170px;
		margin: 30px auto 0;
	}
}